.hide {
  display: none !important;
}

/* Custom element icons */
.icon-gmktg-social_links {
  background-image: url('../images/gmktg-icons-sprite.png');
  background-position: 0 0;
}

/* Custom css for el_desc param */
.wpb_el_type_el_desc .vc_description {
  color: #000;
  font-style: normal;
}

/* Custom css for Social Links element */
.wpb_gmktg_social_links .vc_admin_label {
  font-style: normal;
}
