.site-footer {
  background: #bcb2a2;
  font-size: 12.5px;
  padding-bottom: 27px;
  color: #fff;

  section {
    float: left;
    width: 15%;

    &:first-child {
      width: 25%;

      p {
          display: none;
      }
    }

    &:last-child {
      width: 45%;
      position: relative;
      h3 {
        display:none;
      }

      input[type="submit"] {
        background-color: #d0a48b;
        border: 0px;
        padding: 30px 140px 30px 30px;
        font-size: 12.5px;
        font-weight: 700;
      }

      .gfield_label {
        font-weight: 500;
        font-size: 25px;
      }

    }
  }

  .site-widgets {
    background-color: #c8bdab;
    padding-top: 130px;
    padding-bottom: 70px;
    font-size: 1em;

    .widget {
      margin-bottom: 0px;
    }

    ul {
      padding-left: 0px;

      li {
        list-style: none;
        margin-bottom: 25px;

      }
    }

  }

  .site-map {
    padding-top: 30px;
  }

  .company-name {
    display: inline-block;
    font-weight: bold;
    float: left;
    font-size: .9em;
  }

  .site-info {
    display: inline-block;
    float: right;
    font-size: .9em;

  }

  #text-4.form-title {
    width: 30%;

    h3 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
     }   

    .footer-bold {
      font-weight: bold;

    }
  }

  /* Form Footer */
  
  #field_1_1 {
    width: 285px;

    label {
      display: none;
    }
  }
  .footer-button {
    background: #d0a48b;
    border: none;
    padding: 26px 30px;
    position: relative;
    font-size: em(15px);
    font-weight: 700;
    letter-spacing: em(2px);
    text-align: left;

    &:before {
      content: "\f178";
      display: block;
      font-family: 'icomoon' !important;
      font-size: em(21px);
      font-weight: normal;
      position: absolute;
      right: 30px;
      top: 20px;
      z-index: 50;
    }
  }

}

